{% extends 'base.html' %}

{% block head %}
    <style>

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        <form class="form-signin" method="post" action="{% url 'register' %}">
            <h2 class="form-signin-heading">Register to join NutriTrack!</h2>

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            {% csrf_token %}

            {{ form.non_field_errors }}
            {{ form.email.errors }}
            <label for="ie" class="sr-only">Email</label>
            <input type="email" id="ie" class="form-control" placeholder="E-mail" required
                   name="email">
            {{ form.username.errors }}
            <label for="iu" class="sr-only">Username</label>
            <input type="text" id="iu" class="form-control" placeholder="Username" required autofocus
                   name="username">
            {{ form.password1.errors }}
            <label for="ip" class="sr-only">Password</label>
            <input type="password" id="ip" class="form-control" placeholder="Password" required
                   name="password1">
            {{ form.password2.errors }}
            <label for="ip2" class="sr-only">Password (confirm)</label>
            <input type="password" id="ip2" class="form-control" placeholder="Password (confirm)" required
                   name="password2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register!</button>
        </form>

    </div> <!-- /container -->

{% endblock %}
