{% extends 'base.html' %}

{% block head %}
    <style>
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
            border-right: 1px solid #eee;
        }

        /* Sidebar navigation */
        .sidebar {
            padding-left: 0;
            padding-right: 0;
        }

        .sidebar .nav {
            margin-bottom: 20px;
        }

        .sidebar .nav-item {
            width: 100%;
            border-radius: 0;
        }

        .sidebar .nav-item + .nav-item {
            margin-left: 0;
        }

        .sidebar .nav-header {
            font-weight: bold;
        }

        .sidebar .nav-link {
            border-radius: 0;
        }


    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link active" href="#">This Week's Nutrition Intake</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Kcal: {{ nut.kcal }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Total fat: {{ nut.fat }} g</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Total carbohydrates: {{ nut.carb }} g</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">&raquo; of which sugars: {{ nut.sugar }} g</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Total sodium: {{ nut.sodium }} mg</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Vitamin A: {{ nut.vA }}%</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Vitamin C: {{ nut.vC }}%</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Iron: {{ nut.iron }}%</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Calcium: {{ nut.calcium }}%</a></li>
                </ul>


            </nav>
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Welcome to your Dashboard!</h1>
                    <p>This is where you can manage meals, see your nutrient intake, and explore new recipes to help
                        balance your diet.<</p>
                    {#                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>#}
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>Photo Meal Logger</h2>
                        <p>Track your nutritional progress simply by uploading a picture of your next meal!</p>
                        <p><a class="btn btn-secondary" href="{% url 'report' %}" role="button">Upload &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Get Meal Schedule</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                            tortor
                            mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                            magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-secondary" href="#" role="button">Check updates &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>View Your Meals</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum
                            id
                            ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                            condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                        <p><a class="btn btn-secondary" href="{% url 'meals' %}" role="button">Meals &raquo;</a></p>
                    </div>
                </div>
            </div>
            </main>
        </div>
    </div>
{% endblock %}
