{% extends 'base.html' %}

{% block head %}
    <style>
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
            border-right: 1px solid #eee;
        }

        /* Sidebar navigation */
        .sidebar {
            padding-left: 0;
            padding-right: 0;
        }

        .sidebar .nav {
            margin-bottom: 20px;
        }

        .sidebar .nav-item {
            width: 100%;
            border-radius: 0;
        }

        .sidebar .nav-item + .nav-item {
            margin-left: 0;
        }

        .sidebar .nav-header {
            font-weight: bold;
        }

        .sidebar .nav-link {
            border-radius: 0;
        }

        .jumbotron {
          padding: 2em 1em;
        }

        .jumbotron h1 {
          font-size: 3em;
        }

        @media screen and (max-device-width: 480px) and (orientation: portrait) {
            .sidebar {
                visibility: hidden;
            }
        }


    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link active" href="#">Today's Nutrition Intake</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Kcal: {{ nut.kcal }} (of {{ user.profile.bmr|floatformat }})</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Total fat: {{ nut.fat|floatformat }} g</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Total carbohydrates: {{ nut.carb|floatformat }} g</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">&raquo; of which sugars: {{ nut.sugar|floatformat }} g</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Total sodium: {{ nut.sodium|floatformat }} mg</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Total protein: {{ nut.protein|floatformat }} mg</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Vitamin A: {{ nut.vA|floatformat }}%</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Vitamin C: {{ nut.vC|floatformat }}%</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Iron: {{ nut.iron|floatformat }}%</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Calcium: {{ nut.calcium|floatformat }}%</a></li>
                </ul>
                <p style="text-align: center; text-decoration: underline;">Daily Value</p>
                <svg id='a_pie'></svg>
            </nav>
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3">Welcome to your Dashboard!</h1>
                    <p>This is where you can manage meals, see your nutrient intake, and explore new recipes to help
                        balance your diet.</p>
                    {#<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>#}
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row action">
                    <div class="col-md-4">
                        <h2>Photo Meal Logger</h2>
                        <p>Track your nutritional progress simply by uploading a picture of your next meal!</p>
                        <p><a class="btn btn-secondary" href="{% url 'report' %}" role="button">Upload &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Find Recipes</h2>
                        <p>Click hear to explore our suggested recipes based on your nutrional intake.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">Check updates &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>View Your Meals</h2>
                        <p>Click to see your meal history</p>
                        <p><a class="btn btn-secondary" href="{% url 'meals' %}" role="button">Meals &raquo;</a></p>
                    </div>
                </div>

                <div class="row data">
                    <div class="col-md-4">
                        <h2 style="text-decoration: underline;">Calories</h2>
                        <svg id='calorie'></svg>
                    </div>
                    <div class="col-md-4">
                        <h2 style="text-decoration: underline;">Protein</h2>
                        <svg id='protein'></svg>
                    </div>
                    <div class="col-md-4">
                        <h2 style="text-decoration: underline;">Carbohydrates</h2>
                        <svg id='carbs'></svg>
                    </div>
                </div>
            </div>
            </main>
        </div>
    </div>

    <script src="//d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
      var nut = {
        'kcal' : "{{nut.kcal}}",
        'fat' : "{{nut.fat}}",
        'carb' : "{{nut.carb}}",
        'sugar' : "{{nut.sugar}}",
        'protein' : "{{nut.protein}}",
        'sodium' : "{{nut.sodium}}",
        'vA' : "{{nut.vA}}",
        'vC' : "{{nut.vC}}",
        'iron' : "{{nut.iron}}",
        'calcium' : "{{nut.calcium}}",
      }

      var data = [];
      {% for mmm in mrs %}
        data.push({
        'kcal' : "{{mmm.meal.nut.kcal}}",
        'fat' : "{{mmm.meal.nut.fat}}",
        'carb' : "{{mmm.meal.nut.carb}}",
        'sugar' : "{{mmm.meal.nut.sugar}}",
        'protein' : "{{mmm.meal.nut.protein}}",
        'sodium' : "{{mmm.meal.nut.sodium}}",
        'vA' : "{{mmm.meal.nut.vA}}",
        'vC' : "{{mmm.meal.nut.vC}}",
        'iron' : "{{mmm.meal.nut.iron}}",
        'calcium' : "{{mmm.meal.nut.calcium}}",
        'time' : "{{mmm.timestamp}}"
      });
      {% endfor %}

      var parseTime = d3.timeParse("%b. %d, %Y, %I:%M %p");

      var margin = {top: 30, right: 30, bottom: 30, left: 30},
      width = d3.max([200,window.innerWidth/5]) - margin.left - margin.right,
      height = 200 - margin.top - margin.bottom,
      full_width = width + margin.left + margin.right,
      full_height = height + margin.top + margin.bottom;
      
      var material = ['#F44336','#E91E63','#9C27B0','#673AB7','#3F51B5','#2196F3','#03A9F4','#00BCD4','#009688','#4CAF50','#8BC34A','#CDDC39','#FFEB3B','#FFC107','#FF9800','#FF5722','#795548','#9E9E9E','#607D8B','#000000'],
          material = ['#d1e4f1', '#13466b', '#f7f00a', '#e01c49', '#facc05'],
          material = ['#007bff', '#e9ecef', '#212529'],
          mat = d3.scaleOrdinal(material);

      var format = d3.format(',d');

      var div = d3.select("body").append("div")
          .attr("class", "tooltip")
          .style("display", "none");

      function mouseover() {
          div.style("display", "inline");
      }

      function mouseout() {
          div.style("display", "none");
      }

      data.forEach(function(d) {
        time = d.time;
        time = time.replace('a.m.', 'AM');
        time = time.replace('p.m.', 'PM');
        d.date = parseTime(time);

        d.kcal = +d.kcal;
        d.fat = +d.fat;
        d.carb = +d.carb;
        d.sugar = +d.sugar;
        d.protein = +d.protein;
        d.sodium = +d.sodium;
        d.vA = +d.vA;
        d.vC = +d.vC;
        d.iron = +d.iron;
        d.calcium = +d.calcium;
      });

      // calorie line
      (function() { // wrapper to avoid variable override between files

      var svg_line = d3.select("#calorie")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom),
          g = svg_line.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var x = d3.scaleTime()
        .domain(d3.extent(data, function(d) { return d.date; }))
        .range([0,width]);

      var y = d3.scaleLinear()
        .domain(d3.extent(data, function(d) { return d.kcal; }))
        .range([height,0]);

      // define line
      var line = d3.line()
          .defined(function(d) { return d; })
          //.linear(d3.curveBasis)
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.kcal); });

      g.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

      g.append("g")
        .attr("class", "y-axis")
        .attr("transform", "translate(0," + 0 + ")")
        .call(d3.axisLeft(y));

      series = g.selectAll('.series')
        .data([data])
        .enter().append('g')
          .attr('class', 'series')

      series.append('path')
        .attr('class', 'line')
        .attr('fill', 'none')
        .attr('stroke', function(d) { return mat(d.id); })
        .attr('stroke-width', '1.5px')
        .attr('d', function(d) { return line(d) });


      g.selectAll(".dot")
        .data(data.filter(function(d) { return d; }))
        .enter().append("circle")
          .attr("class", "dot")
          .attr('fill', function(d) { return mat(d.id); })
          .attr("cx", line.x())
          .attr("cy", line.y())
          .attr("r", 1.5);
      })();

      // protein line
      (function() { // wrapper to avoid variable override between files

      var svg_line = d3.select("#protein")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom),
          g = svg_line.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var x = d3.scaleTime()
        .domain(d3.extent(data, function(d) { return d.date; }))
        .range([0,width]);

      var y = d3.scaleLinear()
        .domain(d3.extent(data, function(d) { return d.protein; }))
        .range([height,0]);

      // define line
      var line = d3.line()
          .defined(function(d) { return d; })
          //.linear(d3.curveBasis)
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.protein); });

      g.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

      g.append("g")
        .attr("class", "y-axis")
        .attr("transform", "translate(0," + 0 + ")")
        .call(d3.axisLeft(y));

      series = g.selectAll('.series')
        .data([data])
        .enter().append('g')
          .attr('class', 'series')

      series.append('path')
        .attr('class', 'line')
        .attr('fill', 'none')
        .attr('stroke', function(d) { return mat(d.id); })
        .attr('stroke-width', '1.5px')
        .attr('d', function(d) { return line(d) });


      g.selectAll(".dot")
        .data(data.filter(function(d) { return d; }))
        .enter().append("circle")
          .attr("class", "dot")
          .attr('fill', function(d) { return mat(d.id); })
          .attr("cx", line.x())
          .attr("cy", line.y())
          .attr("r", 1.5);
      })();

      // carb line
      (function() { // wrapper to avoid variable override between files

      var svg_line = d3.select("#carbs")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom),
          g = svg_line.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var x = d3.scaleTime()
        .domain(d3.extent(data, function(d) { return d.date; }))
        .range([0,width]);

      var y = d3.scaleLinear()
        .domain(d3.extent(data, function(d) { return d.carb; }))
        .range([height,0]);

      // define line
      var line = d3.line()
          .defined(function(d) { return d; })
          //.linear(d3.curveBasis)
          .x(function(d) { return x(d.date); })
          .y(function(d) { return y(d.carb); });

      g.append("g")
        .attr("class", "x-axis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

      g.append("g")
        .attr("class", "y-axis")
        .attr("transform", "translate(0," + 0 + ")")
        .call(d3.axisLeft(y));

      series = g.selectAll('.series')
        .data([data])
        .enter().append('g')
          .attr('class', 'series')

      series.append('path')
        .attr('class', 'line')
        .attr('fill', 'none')
        .attr('stroke', function(d) { return mat(d.id); })
        .attr('stroke-width', '1.5px')
        .attr('d', function(d) { return line(d) });


      g.selectAll(".dot")
        .data(data.filter(function(d) { return d; }))
        .enter().append("circle")
          .attr("class", "dot")
          .attr('fill', function(d) { return mat(d.id); })
          .attr("cx", line.x())
          .attr("cy", line.y())
          .attr("r", 1.5);
      })();
    </script>
{% endblock %}