{% extends 'base.html' %}

{% block head %}
    <style>

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .upload {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        <h2 class="form-signin-heading">Select Correct Prediction</h2>
        {% for option in options %}
            <form class="form-signin" method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="predictions" value="{{ option.label }}">
                <button type="submit" class="btn btn-primary btn-lg btn-block">{{ option.label }}
                    : {{ option.confidence }}</button>
            </form>

        {% endfor %}
        <form class="form-signin" method="post" action="">
            {% csrf_token %}
            <label for="pred" class="sr-only">Other Food</label>
            <input type="text" id="pred" class="form-control" placeholder="Other Food" required autofocus
                   name="predictions">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit alternative food</button>
        </form>


    </div> <!-- /container -->

{% endblock %}
