{% extends 'base.html' %}

{% block head %}
    <style>

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .upload {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">

        <form class="form-signin" enctype="multipart/form-data" method="post" action="">
            <h2 class="form-signin-heading">Select Correct Prediction</h2>
            {#            <form>#}
            {#            <div class="btn-group" data-toggle="buttons">#}
            {#  <label class="btn btn-primary active">#}
            {#    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)#}
            {#  </label>#}
            {#  <label class="btn btn-primary">#}
            {#    <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2#}
            {#  </label>#}
            {#  <label class="btn btn-primary">#}
            {#    <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3#}
            {#  </label>#}

            {% for option in options %}
                <form class="form-signin" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="predictions" value="{{ option.label }}">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">{{ option.label }}
                        : {{ option.confidence }}</button>
                </form>

                {#                  <label class="btn btn-primary">#}
                {#    <input type="radio" name="predictions" id="pred{{ option.slug }}" autocomplete="off"> {{ option.label }} : {{ option.confidence }}#}
                {#  </label>#}

                {#                <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>#}
                {#                <div>#}
                {#                <label for='pred{{option.slug}}'>{{ option.label }} : {{ option.confidence }} </label>#}
                {#                <input type='radio' name='predictions' id="pred{{option.slug}}" value="{{option.label}}">#}
                {#                </div>#}
            {% endfor %}
            <form class="form-signin" method="post" action="">
                {% csrf_token %}
                <label for="pred" class="sr-only">Other Food</label>
                <input type="text" id="pred" class="form-control" placeholder="Other Food" required autofocus
                       name="predictions">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit alternative food</button>
            </form>

            {#            </div>#}
            {#            </form>#}
            {#            <button class="btn btn-lg btn-primary btn-block upload" type="submit">Select choice</button>#}
        </form>

    </div> <!-- /container -->

{% endblock %}
