{% extends 'base.html' %}

{% block content %}
    <h1>Recipe: {{ recipe.name }}</h1>

    <form method="post" action="{% url 'report' %}">
        {% csrf_token %}
        <input type="hidden" name="predictions" value="{{ recipe.name }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">I Ate This Today</button>
    </form>

    <p>{{ recipe.description|safe }}</p>

    <p>Makes {{ recipe.servings }} servings</p>

    <p>Total calories: {{ tkcal }}</p>

    <p>Total cost (new packages): ${{ package|floatformat:2 }}<br>
    Cost based on units of materials: ${{ unit|floatformat:2 }}<br>
    Price per serving: ${{ pps|floatformat:2 }}
    </p>

    <h2>Ingredients</h2>

    <ul>
        {% for i in ingredients %}
            <li>{{ i.amount|floatformat }} g - {{ i.name }} - {{ i.price }}</li>
        {% endfor %}
    </ul>

{% endblock %}