{% extends 'base.html' %}

{% block navbar %}

<form class="form-inline my-2 my-lg-0" method="post" action="{% url 'login' %}">
{% csrf_token %}
<input type="text" class="form-control mr-sm-2" placeholder="Email" name="username" required maxlength="254" autofocus>
<input type="password" class="form-control mr-sm-2" placeholder="Password" name="password" required>
<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Sign in</button>
</form>

{% endblock %}

{% block body %}
<div class="jumbotron">
<div class="container">
<h1 class="display-3">NutriTrack: Smart health tracking</h1>
<p>Track your nutritional intake and automatically plan your meals to better balance your diet.</p>
<p><a class="btn btn-primary btn-lg" href="/register/" role="button">Register &raquo;</a></p>
</div>
</div>

{%  endblock %}
